{% assign reply_counter = 0 %}
{% assign reaction_counter = 0 %}
    {% for webmention in webmentions.children %}
        {% assign target = webmention.wm-target | replace: "https://www.timculverhouse.com","") %}

        {% if target == page.url %}
<!--List any other reactions-->
            {% if webmention.wm-property != "in-reply-to" %}
                {% if reaction_counter == 0 %}
                    <h2>Reactions</h2>
                    {% assign reaction_counter = 1 %}
                {% endif %}
                {% if webmention.author.url %}<a rel="nofollow" class="commenter" href="{{ webmention.author.url }}" title="{{ webmention.author.name }}, {{webmention.wm-property}}">{% endif %}{% if webmention.author.photo %}<img class="avatar" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}">{% endif %}{% if webmention.author.url %}</a>{% endif %}
            {% endif %}
<!--List Comments-->
            {% if webmention['wm-property'] == "in-reply-to" %}
                {% if reply_counter == 0 %}
                    <h2>Comments</h2>
                    {% assign reply_counter = 1 %}
                {% endif %}
            <article>
                <section class="webmention-author">
                    <h3>{% if webmention.author.url %}<a rel="nofollow" class="commenter" href="{{ webmention.author.url }}">{% endif %}{% if webmention.author.photo %}<img class="avatar" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" width="36" height="36">{% endif %}{{ webmention.author.name }}{% if webmention.author.url %}</a>{% endif %}</h3>
                    <time><a rel="nofollow" href="{{ webmention.url }}">{{ webmention.published | date() }}</a></time>
                </section>
                    {% if webmention.content.html %}<div>{{ webmention.content.html | safe }}</div>{% endif %}
            </article>
            {% endif %}
        {% endif %}
    {% endfor %}